h1{
    color: rgb(60, 175, 175);
    background-color: chocolate;
    padding: 15px;
    box-shadow: 0 0 5px gray;

}
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    color: darkblue;
}